@charset "UTF-8";

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    color: var(--color5);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1.5em;
}

main h3 {
    font-family: var(--title-font);
    color: var(--color5);
    font-size: 1em;
    background-image: linear-gradient(to right, var(--color2), transparent);
    text-indent: 8px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);
    background-color: var(--color1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--color4);
}

main img {
    width: 100%;
}