@charset "UTF-8";

@font-face {
    font-family: 'Green Nature';
    src: url('../fonts/green-nature/GREEN\ NATURE.ttf');
}

@font-face {
    font-family: 'The Natures';
    src: url('../fonts/the-natures/The\ Natures.ttf');
}

@font-face {
    font-family: 'Nature Green';
    src: url('../fonts/nature-green/Nature\ Green.ttf');
}

:root {
    --color1: #acdf95;
    --color2: #79bf68;
    --color3: #479f3a;
    --color4: #157f0d;
    --color5: #0a4606;
    --default-font: 'The Natures';
    --featured-font: 'Green Nature';
    --title-font: 'Nature Green';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color1);
    font-family: var(--default-font);
}

.external-link::after {
    content: '\00A0\00A0\1F517';
}