@charset "UTF-8";

@font-face {
    font-family: 'Green Nature';
    src: url('../fonts/green-nature/GREEN\ NATURE.ttf');
}

@font-face {
    font-family: 'The Natures';
    src: url('../fonts/the-natures/The\ Natures.ttf');
}

@font-face {
    font-family: 'Nature Green';
    src: url('../fonts/nature-green/Nature\ Green.ttf');
}

:root {
    /* Paleta monocromática de verde */
    --color1: #ACDF95;
    --color2: #79BF68;
    --color3: #479F3A;
    --color4: #157F0D;
    --color5: #0A4606;
    --default-font: 'The Natures';
    --featured-font: 'Green Nature';
    --title-font: 'Nature Green';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color1);
    font-family: var(--default-font);
}

body h2, h3 {
    text-align: center;
}

.external-link::after {
    content: '\00A0\00A0\1F517';
}

header {
    background-color: var(--color4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    margin-bottom: 20px;
    color: white;
    font-family: var(--featured-font);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .267);
    font-weight: bold;
}

header > p {
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .315);
    font-family: var(--default-font);
}

span#burger {
    display: block;
    background-color: var(--color4);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.286);
    text-align: center;
}

span#burger:active {
    cursor: pointer;
    background-color: var(--color5);
    color: white;
}

menu {
    display: none;
    background-color: var(--color4);
    border: 2px solid rgba(0, 0, 0, 0.286);
    text-align: center;
}

menu > ul > li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

menu > ul > li > a {
    color: var(--color1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

menu > ul > li > a:hover {
    background-color: var(--color3);
    color: var(--color5);
    border-radius: 5px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    color: var(--color5);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1.5em;
}

main h3 {
    font-family: var(--title-font);
    color: var(--color5);
    font-size: 1em;
    background-image: linear-gradient(to right, var(--color2), transparent);
    text-indent: 8px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);
    background-color: var(--color1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--color4);
}

main img {
    width: 100%;
}

aside {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .281);
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: var(--color5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--color1);
}